
	<body>	
		   <div class="banner">
		<img src = "Team.jpg" alt = "Team.jpg" width="1370" height="400"/>
	     </div>
		
	   <h1>Contact us</h1>
	   <p></p>
	   <h5> Our Objective is to help the community in automating the appointment system</h5>
	   <p> The motive of this website is to help hospital system to manage their appointment system in most effective way</p><br>
	   
	
   
  
   
	</body>
    
	<footer><br>
	    <div class="section">
	          
			  <p><b> Contact us</b> </p>
			   <p>123-456-789<br>
			   Mayor Street,IFSC,Dublin1<br>
			  abc@gmail.com</p>
			   </div>
	    
		<div class="section">
		     <ul>
			 <a href="www.facebook.com"><img src = "fb.jpg " alt = "link to facebook" width="50" height="50"/></a>
			 <a href="www.twitter.com"><img src = "twiter.png" alt = "link to twiter"width="50" height="50"/></a>
			 </ul>
	    </div>
	</footer>
	

</html>

<?php
$name= _Submit["name"];

<div id= 'footer'>
  <h6 class= "footertext">&copy; Appointment System &trade; 2017</h6>
</div>
</body>
</html>